@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #0d1117;
}

.container {
  width: 35rem;
  border: 1px solid #30363d;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 5%;
  box-shadow: 0px 0px 20px 1px #2b384b;
  background-color: #0d1117;
  color: white;
  padding: 55px 25px;
}

.inputCode {
  position: relative;
  top: 10%;
}

.label {
  margin-left: 3px;
}
input {
  width: 80%;
  height: 3rem;
  border-radius: 10px;
  padding: 10px;
}

.enterButton {
  margin-top: 30px;
  width: 40%;
  height: 2.3rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #00d5ffd7;
}

.enterButton:hover {
  transform: translateX(10px) translateY(10px) scale(1.1);
  transition: transform 300ms;
}

.generateButton {
  margin-top: 10px;
  width: 40%;
  height: 2.3rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #00d5ffd7;
}

.generateButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 1px rgba(0, 179, 255, 0.436);
  transition: transform 300ms;
}

.label {
  margin-top: 20px;
}

.block {
  display: block;
  margin: 20px auto 0px auto;
  background-color: #00ffaeae;
}

.generateButton {
  text-align: center;
}

.dropdown {
  width: 100px;
  height: 100px;
  float: right;
  display: flex;
  flex-direction: column;
}

.dropdown:hover .menuitems {
  display: block;
  transition: display 300ms;
}
