@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #0d1117;
}

a {
  text-decoration: none;
  color: rgb(225, 225, 225);
}

li:hover {
  box-shadow: 0px 0px 20px 2px #45566e;
}

.navElements {
  width: 90%;
  position: relative;
  top: 35%;
  margin: auto;
}

img {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 60px 1px rgb(65, 65, 73);
}

.image {
  background-color: transparent;
  padding: 0;
  position: relative;
  top: -22px;
  float: right;
}

.heading {
  color: white;
  margin-bottom: 40px;
}

.pageContents {
  position: relative;
  left: 80px;
  top: 30px;
}

.examContainer {
  width: 80%;
  height: 8rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #2b384b;
  background-color: #161a22;
  color: white;
  border: 1px solid #30363d;
  padding: 30px;
  margin: 20px;
}

.examName {
  font-size: 40px;
}

.right {
  float: right;
  position: relative;
  bottom: 44px;
}

img {
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.examContainer:hover {
  transform: scale(1.01);
  transition: transform 300ms;
}
.dropdown {
  width: 100px;
  height: 100px;
  float: right;
  display: flex;
  flex-direction: column;
}

.dropdown:hover .menuitems {
  display: block;
  transition: display 300ms;
}
