@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 120vh;
  background: #0d1117;
}

.heading {
  color: white;
  margin-bottom: 40px;
  width: 80%;
}

.pageContents {
  margin-bottom: 60px;
}

.profileContainer {
  border: 1px solid #30363d;
  box-shadow: 0px 0px 20px 1px #2b384b;
  /* background: rgba(50, 50, 117, 0.475); */
  padding: 20px;
  border-radius: 10px;
  width: 50vw;
  color: white;
  position: relative;
  top: 5%;
  left: 60px;
}

.inline {
  display: inline;
}

.innercontainer {
  margin-top: 30px;
  margin-bottom: 50px;
}

.label,
.content {
  font-size: 25px;
  letter-spacing: 0.3px;
}

.content {
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.317);
  border-radius: 10px;
}

hr {
  margin: 15px;
  border: 0.2px solid black;
}

td {
  padding: 10px;
}

.faculty {
  margin-top: 30px;
}

h1 {
  font-size: 50px;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.805);
}

.largeImage {
  width: 290px;
}

.dropdown {
  width: 100px;
  height: 100px;
  float: right;
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  width: 200px;
  margin: 30px;
  height: 40px;
  background-color: #01c9f0;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.02);
  transition: transform 300ms;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.circle-image {
  width: 300px; /* adjust this to your desired size */
  height: 300px; /* adjust this to your desired size */
  /* background-image: url("your-image-url-here"); */
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  position: relative;
  top: -12px;
  float: right;
  box-shadow: 0px 0px 60px 1px rgb(65, 65, 73);
  margin-right: 20px;
}
