<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/assets/student-logo.png" type="image/x-icon" />
  <title>Exam History</title>
  <link rel="stylesheet" href="/css/studentexamhistory.css" />
</head>

<body>
  {{>studentheader}}
  <div class="pageContents">
    <div class="heading">
      <h1>Exam History</h1>
    </div>

    {{#each records}}
    <a href="/student/qpaper?file={{name}}">
      <div class="examContainer">

        <div class="examName"><img src="/assets/datastructures.png" alt=""> {{subject}}
        </div>
        <div class="right">
          <div style="color: red;" class="examStart">Evaluated: No</div>
          <div class="examDuration">Exam Date: {{date}}</div>
        </div>
      </div>
    </a>
    {{/each}}

  </div>
</body>

</html>