<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Exam Hall</title>
  <link rel="stylesheet" href="/css/studentexamhall.css" />
  <link rel="shortcut icon" href="/assets/student-logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://kit.fontawesome.com/52a1890fd9.css" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/52a1890fd9.js" crossorigin="anonymous"></script>
</head>

<body>
  {{>studentheader}}

  <div class="pageContents">
    <div class="heading">
      <h1>Upcoming Exams</h1>
      <a href="/student/examcode" class="inline">
        <div class="examCode">
          <i class="fa-solid fa-plus"></i>
          <p>Add Code</p>
        </div>
      </a>
    </div>

    {{#each records}}
    <a href="/student/{{name}}">
      <div class="examContainer">

        <div class="examName"><img src="/assets/datastructures.png" alt=""> {{subject}}
        </div>
        <div class="right">
          <div class="examStart">Exam Start: {{time}}</div>
          <div class="examDuration">Exam Date: {{date}}</div>
        </div>
      </div>
    </a>
    {{/each}}

  </div>

</body>

</html>