<nav>
  <div class="navElements">
    <ul>
      <a class="home" href="/teacher/home">
        <li>Home</li>
      </a>
      <a href="/teacher/create-exam">
        <li>Create Exam</li>
      </a>
      <a href="/teacher/exam-history">
        <li>Exam History</li>
      </a>

      <a href="/teacher/profile">
        <li>Profile</li>
      </a>
      <a href="#">
        <div class="dropdown">
          <li class="image"><img src="/assets/teacher.png" alt="" /></li>
          <div class="menuitems">
            <a href="/" class="logout">logout</a>
          </div>
        </div>
      </a>
    </ul>
  </div>

</nav>